<!DOCTYPE html>
<html>
<head>
    <title>Submission Successful</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="top-image">
        <img src="/static/clgbg.png" alt="Top Center Image">
    </div>
    <h1>Dravyaguna Department Watch 2025-26 </h1>
    <h2>✅ Observation Submitted Successfully!</h2>
    <p>Thank you for submitting your tree observation.</p>
    <p><a href="/">Back to Home</a></p>
    <footer class="site-footer">
      <p>&copy; 2025 Pranav Bhange. All rights reserved.</p>
    </footer>
</body>
</html>
