<!DOCTYPE html>
<html>
<head>
    <title>Observing Tree {{ tree_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h2>Observation Questions for Tree {{ tree_id }}</h2>
    <form method="POST">
        {% for i in range(10) %}
            <p>{{ i+1 }}. {{ questions[i][0] }}</p>
            {% for opt in questions[i][1] %}
                <label><input type="radio" name="q{{ i+1 }}" value="{{ opt }}" required> {{ opt }}</label><br>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
